body {
    background: #f0f8ff;
}

form {
    border: solid darkblue 1px;
    width: 57%;
    border-radius: 33px;
    margin: 50px auto;
    background: azure;
    padding: 25px;
}
input, select, span {
    color: darkblue;
}

label {
    margin-left: 80px;
    font-size: larger;
    color: darkblue;
}

.note {
    margin-left: 50px;
}

.submit {
    margin-left: 90%;
    width: 10%;
    height: 30px;
    border-radius: 8px;
    background: #cce7f6;
    border-color: #cce7f6;
    color: darkblue;
}

p {
    color: red;
    margin-top: 0px;
    margin-left: 11%;
    display: inline-block;
    margin-bottom: 0px;
}
.firstname {
    margin-left: 33.4%;
    height: 20px;
    width: 200px;
}

.middlename {
    margin-left: 30.7%;
    height: 20px;
    width: 200px;
}

.lastname {
    margin-left: 34%;
    height: 20px;
    width: 200px;
}

.photo {
    margin-left: 22.3%;
    width: 200px;
}

.dob {
    margin-left: 32%;
    height: 20px;
    width: 200px;
}

.gender {
    margin-right: 36.5%;
}

.gender-types {
    margin-left: 25px;
}

.phonenumber {
    margin-left: 29.5%;
    height: 20px;
    width: 200px;
}

.emergencynumber {
    margin-left: 24%;
    height: 20px;
    width: 200px;
}

.experience {
    margin-left: 25.3%;
    height: 20px;
    width: 200px;
}

.email {
    margin-left: 35.5%;
    height: 20px;
    width: 200px;
}

.currentaddress {
    margin-left: 27.5%;
    height: 60px;
    width: 200px;
}

.permanentaddress {
    margin-left: 24%;
    height: 60px;
    width: 200px;
}

.doj {
    margin-left: 29.5%;
    height: 20px;
    width: 200px;
}

.qualification {
    margin-left: 31.5%;
    height: 20px;
    width: 200px;
}

.bloodgroup {
    margin-left: 32.7%;
    height: 20px;
    width: 200px;
}

.designation {
    margin-right: 32.6%;
}

.technology {
    margin-left: 25.3%;
    height: 60px;
    width: 200px;
}

.company {
    height: 25px;
    margin-left: 35%;
    width: 200px;
}

h1 {
    margin-left: 32%;
    color: darkblue;
    display: inline-block;
    
  }

 .icon {
  color: black;
    width: 3%;
    height: 56%;
    font-size: 25px;
    display: inline-block;
    margin-top: 6px;
  }