body {
    background-color: aliceblue;
}

table,
td,
th {
    border: 1px solid #2196f3;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

th {
    background-color: #8bc7f8;
}

a {
    text-decoration: none;
    margin-left: 6px;
}

.firstname,
.lastname,
.designation {
    text-transform: capitalize;
}

#pagination {
    margin-left: 35%;
}

li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding: 5px 5px;
    border: 1px solid #2196f3;
    color: #2564cf;
}
